.material-input,
.material-select {
    padding-top: 25px;

    &.-income {
        .material-input,
        .material-select {
            &__input {
                padding-left: 25px;
            }
        }
    }

    &__prefix {
        position: absolute;
        left: 0;
        font-weight: normal;
        opacity: .5;
        bottom: 7px;
        font-size: 16px;
    }

    &__container {
        position: relative;
        width: 100%;
    }

    &__input {
        width: 100%;
        border: none;
        line-height: 30px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        order: 1;
        background: none;
        transition: .2s border;
        border-radius: 0;
        -webkit-appearance: none;
        appearance: none;
        outline: none;

        &:focus {
            border-bottom: 1px solid #000;
        }

        &.clean ~ .material-input__prefix {
            display: none;
        }

        &.clean + label {
            bottom: 6px;
            font-size: 16px;
            font-weight: 400;

            .material-input__label-disclaimer {
                opacity: 0;
                transition: 0s opacity;
            }
        }
    }

    &__link {
        position: absolute;
        bottom: 6px;
        right: 0;
        font-weight: 500;
        font-size: 13px;
        color: #000;
        text-decoration: none;
    }

    &__label {
        position: absolute;
        left: 0;
        bottom: 35px;
        transition: .2s;
        font-weight: 600;
        font-size: 13px;
        pointer-events: none;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__label-disclaimer {
        display: inline;
        opacity: 1;
        color: #888888;
        font-weight: normal;
        margin-left: 2px;
        transition: .4s .2s opacity;
    }
}

.material-select {
    position: relative;

    &__options-drop-down {
        position: absolute;
        top: 50%;
        right: 0;
        background: white;
        min-width: 190px;
        box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
        opacity: 0;
        pointer-events: none;
        z-index: 10;
        width: 100%;
        transition: .1s;
        transform: translateY(-10px);

        @include atMobile() {
            display: none;
        }

        &.active {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
            transition: .3s;
        }

        &-item {
            font-size: 16px;
            padding: 10px 45px 10px 20px;
            list-style: none;
            cursor: pointer;
            transition: .1s;

            &:hover {
                font-weight: 600;
            }

            &:first-child {
                padding-top: 40px;
            }

            &:last-child {
                padding-bottom: 40px;
            }
        }
    }

    &__container {
        @include atDesktop() {
            cursor: pointer;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            @include atMobile() {
                display: none;
            }
        }
    }

    .icon-arrow {
        display: block;
        transform: rotate(90deg);
        font-size: 10px;
        position: absolute;
        right: 5px;
        bottom: 5px;
    }
}

.material-checkbox {
    &__container {
        position: relative;
        padding: 0 28px;

        label {
            width: auto;
            cursor: pointer;
            line-height: 20px;
        }
    }

    input[type='checkbox'] {
        display: none;
    }

    input[type='checkbox']:checked {

        + .material-checkbox__fake-checkbox {
            background: #000;
        }
    }

    &__fake-checkbox {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #000;
        margin-right: 8px;
        margin-bottom: -4px;
        transition: .2s background;
    }

    &__check-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    &__text {
        font-size: 14px;
        font-weight: 600;
    }
}
